* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  padding: 25px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
}

.night {
  background-color: rgb(90, 163, 228);
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.day {
  background-color: rgb(243, 197, 71);
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}
