* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  min-height: 90vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
}

@media screen and (max-width: 320px) {
  main {
    min-height: 100vh;
    min-width: 100vw
  }
}

.night {
  background-image: url('./assets/night.jpeg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.day {
  background-image: url('./assets/day.jpeg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

#background {
  max-width: 320px;
}

#root {
  display: flex;
  justify-content: center;
}

input {
  width: 300px;
}

#shadow {
  box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.521);
}